* {
    margin: 0;
    padding: 0;
}
/* header css start here */
.header nav li {
    display: inline;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(97, 88, 182);
    color: white;
    height: 80px;
    
}

.header_buttons {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_buttons button {
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    color: black;
    font-weight: bold;
}

.header_search {
    display: flex;
    align-items: center;
    justify-content: center;

}

.header_search input {
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.header_logo {
    display: flex;
    justify-content: center;
}
/* css for div showing items in cart */
.card_details {
    width: 20vw;
    display: flex;
    margin-top: 10px;
    justify-content: center;
     align-items: center;
} 

.cart_image {
    margin-bottom: 20px;
    width: 40px;
    display: flex;
}
